@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
  margin: 0;
}
body{
  background: rgba(128, 128, 128, 0.048);
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.app__header > h1{
  font-family: 'Montserrat', sans-serif;
  color: #0081a7;
  font-size: 25px;
}
.header_names{
  font-family: 'Montserrat', sans-serif;
  background: #0081a7;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}
.app__stats{
  margin: 2.5rem 0;
  display: flex;
  justify-content: space-between;
}
.header__span{
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 25px;
  background: #0081a7;
}
.app__right{
  display: flex;;
  flex-direction: column;
  text-align: center;
}
.app__right .MuiCardContent-root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app__left{

  flex-grow: 0.7;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  height: 100%;
}
.LineGraph{
  margin: 2rem 0;
}
.Table{
  margin: 1rem 0;
}

/* -------------- Media ---------------- */
@media (max-width:990px){
  .app{
    flex-direction: column;
  }
}