*{
  margin: 0;
}
body{
  background: rgba(128, 128, 128, 0.048);
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.app__stats{
  display: flex;
  justify-content: space-between;
}

.app__right{
  width: 500px;
}
/* .app__left{
  background: rgb(190, 255, 190);
} */

/* -------------- Media ---------------- */
@media (max-width:990px){
  .app{
    flex-direction: column;
  }
}