.table{
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: rgb(51, 50, 50);
}
.table tr{
    display: flex;
    justify-content: space-between;
}
.table td{
    padding: 0.5rem;
}
.table tr:nth-of-type(odd){
    color: rgb(65, 65, 65);
    background: rgba(74, 112, 134, 0.089);
}